*,
h1,
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-size: 14px;
  color: #333333;
}

h1 {
  font-size: 36px;
  color: #333333;
}

.global {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 80px;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}
